/* Css Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading {
    display: block;
    width: max-content;
    margin: auto;
    margin-top: 5vw;
    font-size: 4vw;
    font-weight: 500;
}


/* Preloader */
#preloader {
    background: #000;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}



.svg-frame {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-frame svg {
    position: absolute;
    transition: .5s;
    z-index: calc(1 - (0.2 * var(--j)));
    transform-origin: center;
    width: 344px;
    height: 344px;
    fill: none;
}

.svg-frame:hover svg {
    transform: rotate(-80deg) skew(30deg) translateX(calc(45px * var(--i))) translateY(calc(-35px * var(--i)));
}

.svg-frame svg #center {
    transition: .5s;
    transform-origin: center;
}

.svg-frame:hover svg #center {
    transform: rotate(-30deg) translateX(45px) translateY(-3px);
}

#out2 {
    animation: rotate16 7s ease-in-out infinite alternate;
    transform-origin: center;
}

#out3 {
    animation: rotate16 3s ease-in-out infinite alternate;
    transform-origin: center;
    stroke: #ff0;
}

#inner3,
#inner1 {
    animation: rotate16 4s ease-in-out infinite alternate;
    transform-origin: center;
}

#center1 {
    fill: #ff0;
    animation: rotate16 2s ease-in-out infinite alternate;
    transform-origin: center;
}

@keyframes rotate16 {
    to {
        transform: rotate(360deg);
    }
}




/* Navbar */
nav {
    width: 40%;
    margin: 0 auto;
    padding: 1vw;
}

.logo-title {
    position: relative;
}

.head-shadow img {
    position: absolute;
    height: 17vw;
    left: -4vw;
    top: -2vw;

}


nav h1 {
    font-family: 'Alkatra', cursive;
    font-size: 4vw;
    text-align: center;
    margin: 0 auto;
    margin-top: 2vw;
    width: 46%;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-content: center;
    margin: 3vw 0 0 0;
    padding-left: 0;
    border: 1px solid white;
    border-radius: 2vw;
    height: min-content;
}

.nav-item {
    display: flex;
    align-items: center;
    width: 5vw;
    overflow: hidden;
}

.nav-item .icon img {
    width: 3vw;
    height: 2vw;
    margin-left: 1vw;
}

.nav-item .title {
    font-size: 1vw;
    color: white;
    margin: 1vw;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
}

.nav-item:hover {
    width: max-content;
}

.nav-item:hover .title {
    transform: translateX(0%)
}



/* Project Carousel */

#myCarousel {
    height: 30vw;
    width: 90vw;
    margin: 2vw auto;
    border: 5px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px white;
    overflow: hidden;
}

.carousel-item img {
    height: inherit;
}

.carousel-caption {
    color: white;
}




/* Skills section */
.skills .container {
    width: 90vw;
    height: 20vw;
    margin: auto;
    margin-top: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills img {
    width: 7vw;
    height: 7vw;
}

.skill-card {
    height: 13vw;
    padding: 1vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-card span {
    font-size: 2vw;
    font-weight: 700;
    padding: 1vw;
    text-align: center;
}


/* My Info section */
.my-info {
    height: 45vw;
    display: flex;
}

#mobile-info-heading {
    display: none;
}

.my-info .heading {
    margin: 0;
    width: 50%;
    height: 100%;
    text-align: left;
    font-size: 9vw;
    padding: 6vw 0 0 5vw;

}

.my-info .details {
    width: 44%;
    margin: 5vw 9vw 5vw 6vw;
    padding: 3vw;
    border-radius: 3vw;
    background-image: linear-gradient(145deg, #11151b, #464b52);
    box-shadow: 1vw 1vw 1.5vw #141414, -1vw -1vw 1.5vw #525252;
}

.my-info ul {
    margin-left: 0;
    padding-left: 0;
}

.my-info li {
    padding: 1.4vw;
    list-style: none;
    font-size: 2vw;
    line-height: 3vw;
    font-weight: 700;
    margin: 1vw 0;
    border-radius: 1vw;
    transition: color, border-radius, box-shadow 1s ease-in;
}

.my-info li:hover {
    color: #4f4e4e;
    border-radius: 1vw;
    box-shadow: 100vw 0 0 0 #ffffffbd inset, -100vw 0 0 0 #ffffffbd inset;
}

#mobile-details {
    display: none;
}


/* Connection section */

.connect {
    display: flex;
    height: 45vw;
    padding: 1vw;
}

.connect .heading {
    margin-top: 0;
    width: 40%;
    height: 100%;
    text-align: right;
    font-size: 8vw;
    margin-right: 7vw;
}

.connect .links {
    width: 44%;
    height: 87%;
    font-size: 3.6vw;
    margin: 2vw 3vw 8vw 6vw;
    padding: 4vw 4vw;
    border-radius: 3vw;
    background-image: linear-gradient(145deg, #11151b, #464b52);
    box-shadow: 1vw 1vw 1.5vw #141414, -1vw -1vw 1.5vw #525252;
}

.connect .links i {
    width: 6vw;
}

.connect .links li {
    list-style: none;
    cursor: pointer;
}

.connect .links li a {
    text-decoration: none;
    color: #adb5bd;
}

.connect .links li:hover,
.connect .links li:hover a {
    color: white;
}

#mobile-connect-heading {
    display: none;
}